body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 250;
   text-align : center;
}

.title {
   font-size: 26px;
}

table, th, td {
/*border: 1px solid black;*/
    border:none;
    width : 90%;
}
th{
    text-align: center;
    background-color: #cdaaed;
    color: white;
}
tr:nth-child(even) {background-color: #f1f1f1}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
